
:root {
	--font-main: normal 400 17px/22px "Roboto";
	--font-butt: normal 500 17px/22px "Roboto";

	--color-back: #081B1F;
	--color-fore: #35363F;
	--color-main: #A76043;
	--color-acnt: #B1A7A7;
	--color-text: #FEEFEF;

	--radius-block: 12px;
	--radius-small: 4px;

	--padding-block: calc(var(--radius-block) - var(--radius-small));
	--padding-input: 4px;

	background-color: var(--color-back);
	color-scheme: dark;

	font: var(--font-main);
	color: var(--color-text);
}

* {
	box-sizing: border-box;
}

#app, body, html {
	margin: 0;
	border: 0;
	padding: 0;
}

.strip-defaults {
	appearance: none;
	color: inherit;
	background: none;
	font: inherit;
	outline: inherit;
	border: none;
}

body {
	display: flex;
	flex-flow: column nowrap;
	margin-top: 32px;
	padding-bottom: 50vh;
}

.transparent {
	visibility: hidden;
	opacity: 0;
}

.container {
	display: flex;
	flex-flow: column nowrap;
	padding: 16px;
	gap: 16px;
}

.shadow {
	box-shadow: 4px 4px 4px rgba(0, 0, 0, .20);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

img {
	display: block;
	aspect-ratio: 1/1;
	height: 1.5em;
}

hr {
	width: 100%;
}

.butt-on {
	width: fit-content;
	border-radius: var(--radius-small);
	background: var(--color-main);
	color: var(--color-back);
	padding: 4px 8px;
	text-align: center;
	cursor: pointer;
	font: var(--font-butt);
	flex-shrink: 0;
}
.butt-on:hover {
	background: var(--color-acnt);
}

.input-outline {
	border-radius: var(--radius-small);
	padding: var(--padding-input);
	border: 2px solid var(--color-main);
	width: 100%;
}
.input-outline:focus {
	border-color: var(--color-acnt);
}
.date-input {
	width: 170px;
	max-width: 100%;
}

details {
	border: 2px solid var(--color-main);
	border-radius: var(--radius-small);
	padding: var(--padding-input) var(--padding-input) 0;
}
details>div {
	display: flex;
	flex-flow: column nowrap;
	gap: 8px;
}
summary {
	cursor: pointer;
	--unpad: calc(var(--padding-input) * -1);
	margin: var(--unpad) var(--unpad) 0;
	padding: var(--padding-input);
}
details[open] {
	padding: var(--padding-input);
}
details[open] summary {
	border-bottom: 2px solid var(--color-main);
	margin-bottom: var(--padding-input);
}

ul {
	margin: 0;
	list-style: disclosure-closed;
}

.devices-list {
	display: contents;
}

.device-title {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 8px;
	padding-inline-start: 8px;
}

.device-title > h2 {
	margin-inline-end: auto;
}

.device-card, article {
	background: var(--color-fore);
	border-radius: var(--radius-block);
	display: flex;
	flex-flow: column nowrap;
	gap: 8px;
	padding: var(--padding-block);
}

.device-controls {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	align-content: stretch;
	gap: 8px;
}

.device-rituals-list, .device-rituals-add {
	display: contents;
}

.device-ritual-description {
	white-space: pre;
}

.device-rituals-interval .text-input {
	width: 8ch;
}

h3 {
	width: fit-content;
	margin-top: 16px;
	margin-bottom: -8px;
	border-bottom: 2px solid var(--color-main);
}

.schedule-grid-day {
	display: flex;
	flex-flow: column nowrap;
	background-color: var(--color-fore);
	border-radius: var(--radius-block);
	padding: var(--padding-block);
	gap: var(--padding-block);
}

.schedule-grid-day h4 {
	font-weight: bold;
}
